/*============================
    BANNER
============================*/
#banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

#banner .tx1 p {
    text-align: center;
    padding-top: 10rem;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.8rem;
    color: var(--white);
}

#banner .tx2 p {
    text-align: center;
    padding: .5rem 0;
    font-size: 1.4rem;
    color: var(--white-four);
}

#banner .ban-title {
    padding: 6rem 5rem;
}

#banner .ban-title h2 {
    font-size: 4.3rem;
    font-family: NotoKufi;
    padding: 1rem 0;
    color: var(--yellow);
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 1), -4px 4px 21px rgba(0, 0, 0, 0.82);
}

#banner .ban-title h4 {
    font-size: 1.9rem;
    color: var(--white);
    padding: 0 0 15rem 0;
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 1), -4px 4px 21px rgba(0, 0, 0, 0.82);
}

#banner .ban-title h4 span {
    font-size: 1.7rem;
    color: var(--blue-five);
}

@media (max-width: 910px) {
    #banner .ban-title {
        padding: 0 0rem;
    }
}

@media (max-width: 550px) {
    #banner .ban-title h2 {
        font-size: 3rem;
        text-align: center;
    }

    #banner .ban-title h4 {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 360px) {
    #banner {
        display: none;
    }
}

/*============================
    NEWS
============================*/
#news .header-new,
#types .header-types,
#important .header-important {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--blue-tow);
    font-family: 'NotoKufi';
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#news .header-new h2,
#types .header-types h2,
#important .header-important h2 {
    color: var(--white);
    font-weight: 600;
}

#news .header-new h2 i,
#types .header-types i,
#important .header-important i {
    color: var(--green-three);
    font-size: 2.2rem;
}

#news .box-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#news .box-container .new {
    background-color: var(--purple);
}

#news .box-container .news {
    background-color: var(--green-tow);
}

#news .box-container .news,
.new {
    padding: 1rem 0rem;
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
    border-radius: 1rem;
    width: 40%;
}

#news .box-container .news h3,
.new h3 {
    color: var(--white);
    text-align: center;
}

#news .box-container .news a,
.new a {
    color: var(--black);
    background: var(--white);
    border-radius: 1rem;
    text-align: center;
    font-weight: 600;
}

#news .box-container .new a {
    display: block;
    text-align: center;
    padding-left: 2rem;
    margin: 2rem;
}

#news .box-container .news a {
    display: block;
    margin: 1rem;
}

#news .box-container .new a:hover {
    background-color: var(--pink);
    color: var(--white);
}

#news .box-container .news a:hover {
    background-color: var(--blue-tow);
    color: var(--white);
}

@media (max-width: 750px) {
    #news .box-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }

    #news .box-container .news,
    .new {
        width: 80%;
        margin-top: 3rem;
    }
}

/*============================
    TYPES
============================*/
#types .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

#types .box-container .ca2 {
    background: linear-gradient(to left, #3e04dd 0%, #0075FF 100%);
}

#types .box-container .ca1 {
    background: linear-gradient(to left, #1a9d9f 0%, #06b4a6 100%);
    background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
    background-size: 800% 800%;
    animation: TypesCard 3s ease infinite;
    transition: .4s ease-in-out;
}

@keyframes TypesCard {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#types .box-container:hover>.card:not(:hover) {
    filter: blur(1rem);
    transform: scale(0.9, 0.9);
}

#types .box-container .card {
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 2rem 2rem 3rem var(--gray),
        -1rem -1rem 3rem var(--white);
}

#types .box-container .card img {
    width: 6rem;
    margin-bottom: 02rem;
}

#types .box-container .card h3 {
    font-size: 2rem;
    color: var(--white-four);
    font-family: 'Cairo', sans-serif;
}

#types .box-container .card p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--white);
    line-height: 2;
    font-family: 'Cairo', sans-serif;
}

/*==========================
    Important SECTION
=============================*/
#important .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

#important .box-container .card {
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: -9px 9px 18px var(--gray),
              9px -9px 18px var(--white);
}

#important .box-container .ca1 {
    background: var(--green-four) url(../img/important_card_1.png) repeat 50%;
    background-size: cover;
    -webkit-transition: all 3s;
    transition: all .9s;
}


#important .box-container .ca2 {
    background: var(--green-five) url(../img/important_card_2.png) repeat 50%;
    background-size: cover;
    -webkit-transition: all 3s;
    transition: all .9s;
}

#important .box-container .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px var(--gray-tow);
}

#important .box-container .card-title {
    display: block;
    transform: rotate(34deg);
    transition: 0.5s;
}

#important .box-container .card:hover .card-title {
    transform: rotate(0deg);
}

#important .box-container .ca1 h3 {
    font-size: 2rem;
    color: var(--green-tow);
    font-family: 'NotoKufi';
}

#important .box-container .ca2 h3 {
    font-size: 2rem;
    color: var(--white-four);
    font-family: 'NotoKufi';
}
