/*============================
    PREFIXES
============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--vr-col-002);
}

html::-webkit-scrollbar-thumb {
  background: var(--vr-col-014);
}

body {
  background: var(--vr-col-001);
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
}

section {
  padding: 3rem 9%;
}

@media (max-width: 910px) {
  section {
    padding: 4rem 5%;
  }
}

/*============================
    HEADER
============================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--vr-col-001);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 2em 2%;
}

/*..................
    navbar-desktop
...................*/
@media (max-width: 910px) {
  header .navbar-desktop {
    display: none;
  }
}

header .navbar-desktop a {
  text-align: center;
  font-size: 16px;
  color: var(--vr-col-010);
  display: inline-block;
  margin: 0 1em;
  font-family: 'Cairo', sans-serif;
}

header .navbar-desktop a i {
  color: var(--vr-col-040);
  margin-left: .3rem;
}

/*..................
    navbar-mobile
...................*/
@media (min-width: 911px) {
  header .navbar-mobile {
    display: none;
  }
}

header .navbar-mobile a i {
  color: var(--vr-col-040);
  font-size: 2rem;
  padding: 0rem 1.5rem;
}

header .tooltip {
  display: inline-block;
}

header .tooltip .tooltiptext {
  visibility: hidden;
  width: 10rem;
  font-family: Noto Kufi Arabic, Tahoma, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--vr-col-013);
  color: var(--vr-col-001);
  border-radius: .3rem;
  margin-left: -9rem;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 100%;
}

header .tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 320px) {
  header .navbar-mobile a i {
    font-size: 1.8rem;
    padding: 0rem 1.3rem;
  }
}
/*..................
    dark-mood
...................*/
button {
  background: none;
}

#dark-mode {
  border-radius: 1.6rem;
  border: .1rem solid var(--vr-col-014);
  background: var(--vr-col-008);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark-mode .change-theme {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.icon-sun,
.icon-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.icon-sun {
  animation: ease reverse-change-theme-sun .6s forwards;
}

.change-theme:hover .icon-sun {
  animation: ease change-theme-sun .4s forwards;
}

@keyframes reverse-change-theme-sun {
  0% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes change-theme-sun {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }
}

.icon-moon {
  animation: ease reverse-change-theme-moon .4s forwards;
}

.change-theme:hover .icon-moon {
  animation: change-theme-moon .6s forwards;
}

@keyframes change-theme-moon {
  0% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes reverse-change-theme-moon {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) scale(.8);
    opacity: 0;
  }
}

@media (max-width: 300px) {
  header {
    display: none;
  }
}

/*============================
    FOOTER
============================*/
footer {
  background: var(--vr-col-011);
  padding: 3rem 9%;
}

footer .box-container {
  display: -ms-grid;
  font-size: 62.5%;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

footer .box-container .box {
  padding: 1rem 0;
}

footer .box-container .box h3 {
  font-size: 2rem;
  color: var(--vr-col-038);
  padding: 1rem 0;
  font-family: 'Cairo', sans-serif;
}

footer .box-container .link a {
  color: var(--vr-col-002);
  display: block;
  font-size: 2rem;
  padding: 1rem 0;
  width: 70%;
  font-family: 'Cairo', sans-serif;
}

footer .box-container .link a:hover {
  background: var(--vr-col-040);
  box-shadow: inset 5rem 0 0 0 var(--vr-col-024);
}

footer .box-container .link a i {
  color: var(--vr-col-024);
}

.rights p {
  width: 100%;
  background-color: var(--vr-col-014);
  color: var(--vr-col-002);
  font-size: 1.8rem;
  text-align: center;
  padding: .2rem 0;
  font-family: 'Cairo', sans-serif;
}

.rights span {
  color: var(--vr-col-024);
}

@media (max-width: 300px) {
  footer,
  .rights {
    display: none;
  }
}

/*============================
  LOADER
============================*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--vr-col-002);
  transition: opacity 3s, visibility 1s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--vr-col-003);
  border-top-color: var(--vr-col-040);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/*============================
  SCREEN 300PX
============================*/
#screen-max {
  background: var(--vr-col-011);
  color: var(--vr-col-002);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

#screen-max img {
  width: 40%;
}

#screen-max p {
  font-size: 1.8rem;
  text-align: center;
}

@media (min-width: 301px) {
  #screen-max {
    display: none;
  }
}






.number-control {
  display: flex;
  align-items: center;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 20px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.number-left::before {
  content: "-";
}

.number-right::after {
  content: "+";
}

.number-quantity {
  padding: 0.25rem;
  border: 0;
  width: 50px;
  -moz-appearance: textfield;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #666666;
}
